body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color {
  background-color: #183661;
  color: #ffff
}

.wrapper {
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
}

.content {
  padding: 30px;
}

.b {
  width: 100%;
  height: 100%;
  font-size: 25px;
}

.heading {
  padding: 16px 0;
  background-color: #183661;
  color: #fff;
}

.gray {
  background-color: #ccc;
}

td,
th {
  vertical-align: middle;
}

.input_field {
  height: 35px;
  padding: 0 0 0 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid black;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.modal-custom {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
}

.modal-container {
  position: relative;
  text-align: center;
  border: 1px solid black;
  animation: modalFadeIn ease 0.4s;
}

.modal-close {
  position: absolute;
  color: white;
  right: 0;
  top: 0;
  padding: 8px 12px;
  cursor: pointer;
}

.modal-close:hover {
  color: red;
}

.modal-body {
  background-color: #fff;
}

.modal-body img {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.modal-body img:hover {
  cursor: pointer;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.payment-info {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.input-search {
  display: flex;
  align-items: center;
  gap: 4px;
}

.customer-info-input {
  width: 500px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-self: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 5px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .qr {
    width: 12%;
  }
  .colon {
    display: none;
  }
}

@media (max-width: 576px) {
  .customer-input {
    width: 40%;
  }
}

@media (max-width: 900px) {
  .modal-container {
    width: 80% !important;
  }
}

@media (min-width: 1294px) and (max-width: 1495px) {
  .customer-info-input {
    width: 400px;
  }
}

@media (min-width: 1195px) and (max-width: 1293px) {
  .customer-info-input {
    width: 350px;
  }
}

@media (min-width: 1094px) and (max-width: 1194px) {
  .customer-info-input {
    width: 300px;
  }
}

@media (min-width: 994px) and (max-width: 1093px) {
  .customer-info-input {
    width: 250px;
  }
}

@media (min-width: 900px) and (max-width: 993px) {
  .customer-info-input {
    width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .customer-info-input {
    width: 350px;
  }
}

@media (min-width: 564px) and (max-width: 767px) {
  .customer-info-input {
    width: 250px;
  }
}

@media (max-width: 564px) {
  .customer-info-input {
    width: 140px;
  }
}

@media print {
  body {
    zoom: 0.75; /* Giảm tỷ lệ in để tránh vỡ form */
  }
  .container,
  .table-responsive {
    width: 100% !important;
  }
  .payment-info {
    width: 100% !important;
    margin-right: 0 !important;
  }
}