body {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
}

.content {
  padding: 30px;
}

.heading {
  padding: 16px 0;
  background-color: #183661;
  color: #fff;
}

.gray {
  background-color: #ccc;
}

td,
th {
  vertical-align: middle;
}

.input_field {
  height: 35px;
  padding: 0 0 0 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid black;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.modal-custom {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
}

.modal-container {
  position: relative;
  text-align: center;
  border: 1px solid black;
  animation: modalFadeIn ease 0.4s;
}

.modal-header {
  background-color: #183661;
  color: white;
}

.btn-close {
  background: none;
}

.modal-custom-header {
  padding: 16px 0;
  background-color: #183661;
  color: white;
  font-size: 30px;
}

.modal-close {
  position: absolute;
  color: white;
  right: 0;
  top: 0;
  padding: 8px 12px;
  cursor: pointer;
}

.modal-close:hover {
  color: red;
}

.modal-body {
  background-color: #fff;
}

.modal-body img {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.modal-body img:hover {
  cursor: pointer;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-140px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.payment-info {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.input-search {
  display: flex;
  align-items: center;
  gap: 4px;
}

.customer-info-input {
  width: 500px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-self: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 5px;
  margin-top: 20px;
}
.pagination .page-num,
.pagination .page-previous,
.pagination .page-next {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  display: block;
}

.pagination .page-num:hover,
.pagination .page-previous,
.pagination .page-next {
  background-color: #0b5ed7;
  color: white;
}

.pagination a {
  text-decoration: none;
}

.pagination .active {
  background-color: #0b5ed7;
}

.pagination .active .page-num {
  color: #fff;
}